<body>
    

<div fxLayoutAlign="center center" fxFlexFill class = "main-div">
    <mat-card fxFlex="30">
    <mat-toolbar color="warn">Bienvenue chez  SAV orange  </mat-toolbar>
        <form fxLayoutAlign ="stretch"  fxLayout="column" class="login-form">
            <mat-form-field >
              <input matInput placeholder="username" >
            </mat-form-field>
            <mat-form-field >
                <input matInput type = "password" placeholder="password" >
              </mat-form-field>
              <button mat-raised-button color="warn">Login</button>
          </form>
    </mat-card>
</div>

</body>
