<div class="container">
    <body>
        <p>
            <mat-toolbar class="mat">
              <span>Orange sav</span>
            </mat-toolbar>
          </p>
      <div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="\">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/profil">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Rechercher
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a routerLink="/projet">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Consulter fiche SAV
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/categorie">
                   <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Consulter fiche Sinistre

                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/client">
                   <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Consulter bon SAV

                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/developpeur">
                   <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Consulter Assurance 

                    </span>
                </a>
            </li>
            <li>
              <a routerLink="/societe">
                   <i class="fa fa-bar-chart-o fa-2x"></i>
                   <span class="nav-text">
                       Recherhce Decharge
                   </span>
               </a>
           </li> 
           <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Suivi Stock Retour +
                 </span>
             </a>
         </li> 
         <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Go For Swap+
                 </span>
             </a>
         </li> 
         <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Suivi Fiche Sinistre +
                 </span>
             </a>
         </li> 
         <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Suivi Retour Réparateurs+
                 </span>
             </a>
         </li> 

         <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Notification+
                 </span>
             </a>
         </li> 

         <li>
            <a routerLink="/societe">
                 <i class="fa fa-bar-chart-o fa-2x"></i>
                 <span class="nav-text">
                     Alertes
                 </span>
             </a>
         </li> 
 
    </ul>
    <ul class="logout">
        <li>
            <a href="" >
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
  </nav>
 </body>
</div>
<router-outlet></router-outlet>